@mixin btn-md {
    padding: 0 20px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
}

.btn {
    font-size: 14px !important;
    border: none !important;
}

.btn-md-01 {
    @include btn-md;
    height: 40px;
    border-radius: 50px;
}

.btn-md-02 {
    @include btn-md;
    height: 50px;
    border-radius: 6px;
}