.music-content {
    width: calc(100% - 240px);
    height: 5000px;
    margin-left: 240px;
}

.main-content {
    width: 100%;
    margin-top: 92px;
    padding: 20px 50px;

    .style-playlist-top {
        width: inherit;
        height: auto;

        .card-container {
            
            .card-link {
                width: 32%;

                img {
                    width: 100%;
                    height: 200px;
                }
            }
        }
    }

    .style-playlist-song {
        width: inherit;
        height: auto;
        margin-top: 40px;

        .card-header {
            width: inherit;
            height: 50px;
        }

        .card-container {
            width: inherit;
            height: auto;
            display: grid;
            column-gap: 2%; 
            row-gap: 10px;
            grid-template-columns: repeat(3, 32%);

            .card-wrapper {
                width: inherit;
                height: 80px;

                .card-info {

                    .card-image {

                        img {
                            width: 64px;
                            height: 64px;
                        }

                        .box-icon {
                            width: 64px;
                            height: 64px;
                            top: 0;
                            left: 0;
                            display: none;
                        }
                    }

                    .card-text {
                        width: 240px;
                        height: 64px;

                        a:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .card-interact {
                    height: 64px;
                    display: none;

                    .box-icon {
                        width: 32px;
                        height: 32px;
                        
                        &:hover {
                            @include dark-hover-02;
                        }
                    }
                }

                &:hover {
                    @include dark-hover-01;
                }

                &:hover .card-info .card-image .box-icon,
                &:hover .card-interact {
                    display: flex;
                }
                
                &:hover .card-info .card-text {
                    width: 180px;
                }
            }
        }
    }

    .style-playlist-card {
        width: inherit;
        height: auto;
        margin-top: 40px;

        .card-header {
            width: inherit;
            height: 50px;
        }

        .card-container {
            width: inherit;
            display: grid;
            column-gap: calc((100% - (5 * 220px)) / 4); 
            row-gap: 10px;
            grid-template-columns: repeat(5, 220px);

            .card-wrapper {
                width: 220px;
                height: 270px;

                .card-info {
                    width: 220px;
                    height: 220px;

                    .card-image {
        
                        img {
                            width: 220px;
                            height: 220px;
                        }
                    }

                    .card-interact {
                        width: 220px;
                        height: 220px;
                        top: 0;
                        left: 0;
                        display: none;

                        .box-icon {
                            width: 40px;
                            height: 40px;

                            &:hover {
                                @include dark-hover-02;
                            }
                        }
                    }

                    &:hover .card-interact {
                        display: flex;
                    }
                }

                .card-link {
                    width: 220px;
                    height: 50px;

                    &:hover {
                        color: var(--bs-color-white) !important;
                    }
                }
            }
        }
    }

    .style-playlist-detail {
        width: inherit;
        height: auto;

        .card-container {
            width: 100%;
            height: 260px;
            background: linear-gradient(0deg, rgba(255, 210, 215, 0) 0%, #979797 100%);

            .card-image {
                
                img {
                    width: 180px;
                    height: 180px;
                }
            }

            .card-info {
                width: calc(100% - 180px);
                height: 180px;
            }
        }

        .card-interact {
            width: 100%;
            height: 40px;
            margin-top: -25px;

            .box-icon {
                width: 40px;
                height: 40px;
            }
        }

        .playlist-container {

            .playlist-header {
                width: 100%;
                height: 50px;

                .column-1 {
                    width: 5%;
                }

                .column-2 {
                    width: 35%;
                }

                .column-3 {
                    width: 35%;
                }

                .column-4 {
                    width: 25%;
                }
            }

            .playlist-content {
                width: 100%;
                height: 500px;

                .card-wrapper {
                    width: 100%;
                    height: 64px;

                    .card-column-1 {
                        width: 5%;
                        height: 64px;

                        .box-icon {
                            display: none;
                        }
                    }

                    .card-column-2 {
                        width: 35%;
                        height: 64px;

                        .card-info {
                            margin-top: 8px;

                            .card-image {

                                img {
                                    width: 48px;
                                    height: 48px;
                                }
                            }

                            .card-text {
                                width: calc(100% - 58px);
                                height: 48px;
        
                                a:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }

                    .card-column-3 {
                        width: 35%;
                        height: 64px;

                        .card-text {
                            width: calc(100% - 58px);
                            height: 64px;
    
                            a:hover {
                                color: var(--bs-color-white) !important;
                                text-decoration: underline;
                            }
                        }
                    }

                    .card-column-4 {
                        width: 25%;
                        height: 64px;

                        .card-interact {
                            margin-top: 0;
                            height: 64px;
        
                            .box-icon {
                                width: 32px;
                                height: 32px;
                                display: none;
                                
                                &:hover {
                                    @include dark-hover-02;
                                }
                            }
                        }
                    }

                    &:hover {
                        @include dark-hover-01;
                    }

                    &:hover .card-column-1 .box-text {
                        display: none;
                    }

                    &:hover .card-column-1 .box-icon {
                        display: flex;
                    }

                    &:hover .card-column-4 .box-time {
                        display: none;
                    }
                    &:hover .card-column-4 .box-icon {
                        display: flex;
                    }
                }
            }
        }
    }
}