@mixin navbar-a-size {
    width: 200px;
    height: 40px;
}

@mixin navbar-icon-size {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.nav-bar {
    width: 240px;
    height: 600px;

    .nav-bar-top {
        width: 240px;
        height: 72px;

        a {
            @include navbar-a-size;

            i {
                @include navbar-icon-size;
            }
        }
    }

    .nav-bar-body {
        width: 240px;
        height: 600px;

        .nav-link {
            @include navbar-a-size;

            i {
                @include navbar-icon-size;
            }

            &:hover {
                @include dark-hover-01;
            }
        }
    }
}