@import './variables';

:root {
    @each $key, $value in $colors {
        --bs-color-#{$key}: #{$value};
    }

    @each $key, $value in $theme-dark {
        --bs-color-#{$key}: #{$value};
    }

    @each $key, $value in $transitions {
        --bs-transition-#{$key}: #{$value};
    }
}

@each $key, $value in $colors {
    .text-color-#{$key} {
        color: var(--bs-color-#{$key}) !important;
    }
}

@each $key, $value in $colors {
    .bg-color-#{$key} {
        background-color: var(--bs-color-#{$key}) !important;
    };
}

@each $key, $value in $theme-dark {
    .bg-color-#{$key} {
        background-color: var(--bs-color-#{$key}) !important;
    };
}

@each $key, $value in $theme-dark {
    .text-color-#{$key} {
        color: var(--bs-color-#{$key}) !important;
    }
}

@each $key, $value in $font-sizes {
    .fs-#{$key} {
        font-size: #{$value} !important;
    }
}

@each $key, $value in $font-weights {
    .fw-#{$key} {
        font-weight: #{$value} !important;
    }
}

@each $name, $prefix in ('margin': 'm', 'padding': 'p') {
    @each $key, $value in $mps {
        .#{$prefix}-#{$key} {
            #{$name}: #{$value} !important;
        }
    
        .#{$prefix}t-#{$key} {
            #{$name}-top: #{$value} !important;
        }
    
        .#{$prefix}r-#{$key} {
            #{$name}-right: #{$value} !important;
        }
    
        .#{$prefix}b-#{$key} {
            #{$name}-bottom: #{$value} !important;
        }
    
        .#{$prefix}l-#{$key} {
            #{$name}-left: #{$value} !important;
        }
    }
}

@each $key, $value in $roundeds {
    .rounded-#{$key} {
        border-radius: #{$value} !important;
    }
}

@import './mixin';
@import './animation';
@import './base';
@import './button';
@import './form';
@import './input';
@import './navbar';
@import './content';
@import './header';
@import './footer';