.icon-md-01 {
    right: 0 !important;
    top: 8px !important;
    position: absolute !important;
    margin-right: 20px !important;
    font-size: 16px !important;
    color: var(--bs-input-color-01) !important;
}

.input-md-01 {
    height: 40px !important;
    line-height: 20px !important;
    border-radius: 6px !important;
    text-indent: 10px !important;
    border: var(--bs-input-border-01) !important;
    background-color: var(--bs-input-background-01) !important;
}

.icon-md-02 {
    left: 20px !important;
    top: 14px !important;
    position: absolute !important;
    font-size: 16px !important;
    color: var(--bs-input-color-01) !important;
}

.input-md-02 {
    height: 50px !important;
    line-height: 25px !important;
    border-radius: 6px !important;
    text-indent: 40px !important;
    border: var(--bs-input-border-02) !important;
    background-color: var(--bs-input-background-02) !important;
}

.icon-date-01 {
    left: 0 !important;
    top: 8px !important;
    position: absolute !important;
    font-size: 16px !important;
    color: var(--bs-input-text-01) !important;
}

.input-date-01 {
    width: 220px !important;
    height: 40px !important;
    margin-left: 20px !important;
    line-height: 20px !important;
    border-radius: 6px !important;
    border: none !important;
    box-shadow: none !important;
    background-color: var(--bs-color-white) !important;
}