@mixin navbar-hover {
    transition: var(--bs-transition-01);
    background-color: var(--bs-color-gray-01);
}

.nav-bar {
    width: 240px;
    height: 650px;
    margin-top: 60px;
    z-index: 1000;
    transition: var(--bs-transition-02);

    .nav-bar-wrap {
        width: 240px;
        height: 650px;
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav-link {
        width: 200px;
        height: 40px;
        font-weight: 600;

        .box-icon {
            width: 40px;
            height: 40px;
        }

        &:hover {
            @include navbar-hover;
        }
    }
}

.nav-second {
    width: calc(100% - 75% - 20px);
    height: 200px;
    padding: 20px;
    top: 100px;
    position: sticky;
    z-index: 1020;

    .nav-link {
        width: 100%;
        height: 30px;
        font-weight: 600;

        .box-icon {
            width: 30px;
            height: 30px;
        }

        &:hover {
            @include navbar-hover;
        }
    }
}