.table-container {
    width: 100%;

    .table-top {

        .box-text {
            height: 50px;
            border-radius: 6px 6px 0 0;
        }
    }

    .table-body {

        th, td {
            padding: 10px;
            vertical-align: top;
            color: #69707a;
            border: 1px solid var(--bs-color-gray-01);
        }

        tr:hover {
            transition: var(--bs-transition-01);
            background-color: var(--bs-color-white-01);
        }

        table {
            .form-control:focus,
            .form-check-input:focus,
            .form-check-input[type=checkbox] {
                border-color: var(--bs-color-gray-01);
                box-shadow: none !important;
            }

            .form-check-input:checked {
                background-color: var(--bs-color-blue-01) !important;
            }
        }

        .dropdown-menu {
            top: 30px;
            left: 0;
            padding: 10px 0;
            z-index: 10000;
            display: none;
            min-width: 0;
            border: none;
            text-align: inherit;
        }

        .dropdown-item {
            width: 150px;
            height: 30px;
            padding: 0 10px;
            line-height: 30px;
            font-size: 13px;
            font-weight: 600;

            &:hover {
                transition: var(--bs-transition-01);
                background-color: var(--bs-color-gray-01);
            }
        }
    }
}

.pagination {
    .page-item .page-link {
        font-size: 14px !important;
        color: var(--bs-color-blue-01) !important;
    }

    .page-item.active .page-link {
        color: var(--bs-color-white) !important;
        border-color: var(--bs-color-blue-01) !important;
        background-color: var(--bs-color-blue-01) !important;
    }

    .page-item .page-link:hover {
        color: var(--bs-color-white) !important;
        transition: var(--bs-transition-01) !important;
        background-color: var(--bs-color-blue-01) !important;
    }
}