@import './variables';

:root {
    @each $key, $value in $colors {
        --bs-color-#{$key}: #{$value};
    }

    @each $key, $value in $text-colors {
        --bs-text-color-#{$key}: #{$value};
    }

    @each $key, $value in $box-shadows {
        --bs-box-shadow-#{$key}: #{$value};
    }

    @each $key, $value in $transitions {
        --bs-transition-#{$key}: #{$value};
    }

    @each $key, $values in $inputs {
        @each $name, $value in $values {
            --bs-input-#{$name}-#{$key}: #{$value};
        }
    }
}

@import './base';
@import './input';
@import './form';
@import './button';
@import './animation';
@import './table';

@each $key, $value in $colors {
    .bg-color-#{$key} {
        @if ($key == 'linear-gradient') {
            background-color: var(--bs-color-blue) !important;
            background-image: var(--bs-color-#{$key}) !important;
        }

        background-color: var(--bs-color-#{$key}) !important;
    };
}

@each $key, $value in $text-colors {
    .text-color-#{$key} {
        color: var(--bs-text-color-#{$key}) !important;
    }
}

@each $key, $value in $box-shadows {
    .box-shadow-#{$key} {
        box-shadow: #{$value} !important;
    }
};

@each $key, $value in $font-sizes {
    .fs-#{$key} {
        font-size: #{$value} !important;
    }
}

@each $key, $value in $font-weights {
    .fw-#{$key} {
        font-weight: #{$value} !important;
    }
}

@each $name, $prefix in ('margin': 'm', 'padding': 'p') {
    @each $key, $value in $mps {
        .#{$prefix}-#{$key} {
            #{$name}: #{$value} !important;
        }
    
        .#{$prefix}t-#{$key} {
            #{$name}-top: #{$value} !important;
        }
    
        .#{$prefix}r-#{$key} {
            #{$name}-right: #{$value} !important;
        }
    
        .#{$prefix}b-#{$key} {
            #{$name}-bottom: #{$value} !important;
        }
    
        .#{$prefix}l-#{$key} {
            #{$name}-left: #{$value} !important;
        }
    }
}

@each $key, $value in $roundeds {
    .rounded-#{$key} {
        border-radius: #{$value} !important;
    }
}

@import './header';
@import './navbar';
@import './content';
